# Travis CI build file for Swift-Kuery.
# Swift-Kuery runs on OS X and Linux (Ubuntu).
# See the following URLs for further details on Travis CI
# https://docs.travis-ci.com/user/customizing-the-build/
# https://docs.travis-ci.com/user/docker/
# https://docs.travis-ci.com/user/multi-os/

# whitelist (branches that should be built)
branches:
  only:
    - master
    - /^issue.*$/

notifications:

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
    - os: osx
      osx_image: xcode8
      sudo: required

before_install:
  - git submodule update --init --remote --merge --recursive

script:
  - ./Package-Builder/build-package.sh $TRAVIS_BUILD_DIR
