# Travis CI build file for Swift-Kuery.
# Swift-Kuery runs on OS X and Linux (Ubuntu).
# See the following URLs for further details on Travis CI
# https://docs.travis-ci.com/user/customizing-the-build/
# https://docs.travis-ci.com/user/docker/
# https://docs.travis-ci.com/user/multi-os/

# whitelist (branches that should be built)
branches:
  only:
    - master
    - /^issue.*$/
    - /^issue_*$/

notifications:
  slack:
    secure: "r921aUwfRCDclXz8Wv9EKlkwhWjSMeXFcg3ofjfWCUdyd45pjjxUis+xK03Ye875wef2xQ674zTGu7dJrYxYvmXLESs7V5kljhtXV3HA8SU/AE7LwogetSh23kCMeEMb+jHecQMvGOjJAgV8v/EYHQPmeIdC0r/98HRkcoFzFHv0h6CDpNyPKoj4OtRfosH7WLAjzRBrl08xevOx2GEcZmlHEA/DyFSJIIaAIQq1pu1FgTgnOrRrNiYFR9Hog35CQ0HSfdmBYUdvuLKSNSlcWZfdrpermeW4iCCLWsy2IBhhWDwbvANoj1Ixxh2MkOFvovQCN0Ikvd3ud6Ebpt6x4rD5WCwcXQPw7X/sZ558uXydjKkhlvWpVTfmiPVJYkzSWdDoW1tXaaoejr/Qmaud1+bQzUzO7sw/6BnRIhxrFBr9C4X708zRmm9JxG5JtDlYPYdN6iEuR4ntr3O2rfx0tmtvz6GqTtIvNLAaYqDKqCtGP/Qc83x1KipGzds+2Qs+sdVv1jnNmwMp0oZFJofO/3wr530o1fjQyrs+Bo125DrUjAGqOXN4HYupQciddOVwxaEorSKfLeZ+y/M6hAjBXa2ZswLP7Of6tzSoodR3fkOfG1R2eQbPCetKMvVCfXW4T7/hNj7MTNDJbwEcFPiX1s0Phri7gCIiM6Ccs0aIvLw="

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
    - os: osx
      osx_image: xcode9.1
      sudo: required

before_install:
  - git clone https://github.com/IBM-Swift/Package-Builder.git

script:
  - ./Package-Builder/build-package.sh -projectDir $TRAVIS_BUILD_DIR
